body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Section */

.site-navigation-container {
    background-color: #133A00;
}

.site-navigation-contents {
    display: flex;
    align-items: center;
    color: #F6FAFB;
}

.site-navigation-icon {
    margin: 0px 15px 0px 18px;
    font-size: 24px;
}

.site-navigation-title {
    font-size: 26px;
}

/* Registration Section */

.registration-section-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.registration-section-container-relative {
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 175px;
} 

.registration-section-outer-form-header {
    margin: 0px 0px 5px 15px;
    color: #F6FAFB;
}

.registration-section-inner-form-header {
    margin-top: 0px;
}

.registration-section-form-container {
    margin-left: 15px;
}

.registration-section-form {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    background-color: #F6FAFB;
    padding: 35px 15px;
    margin-right: 80px;
    border-radius: 5px;
}

.registration-form-input-contents {
    margin-bottom: 40px;
    font-family: 'Poppins'
}

.phone-label {
    margin-right: 70px;
    width: 200px;
}

textarea {
    font-size: 14px;
    font-family: 'Poppins';
    margin-bottom: 20px;
    background-color: #F6FAFB
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #F6FAFB
}


textarea:focus, input:focus {
    outline: none;
}

.registration-terms-conditions-container {
    display: flex;
}

.registration-form-checkbox {
    margin: 0px 5px 11px 0px;
}

.registration-form-checkbox:hover {
    cursor: pointer;
}

.registration-section-terms-conditions {
    font-size: 11px;
    margin-top: 0px;
}

.registration-form-button {
    max-width: 30%;
    min-height: 20%;
    background-color: #133A00;
    color: #F6FAFB;
    border: none;
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
}

.registration-form-button:hover {
    cursor: pointer;
}

/* Text Overlay Section */

.registration-section-services-preview {
    position: absolute;
    z-index: 1;
    top: 185px;
    left: 680px;
    border-left: 5px solid #F6FAFB;
    max-width: 491px;
}

.registration-section-services-header {
    color: #F6FAFB;
    margin-top: 0px;
    margin-left: 25px;
}

.registration-section-services-text {
    color: #F6FAFB;
    margin-bottom: 5px;
    margin-left: 25px;
}

/* Information Section */

.information-amenities-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #133A00;
    margin-top: -7px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.amenities-section-container {
    margin-right: 50px;
    background-color: #F6FAFB;
    border: 1px solid transparent;
    border-radius: 5px;
    position: absolute;
    right: 100px;
    top: 915px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.amenities-section-card {
    padding-top: 20px;
    padding-bottom: 20px;
}

.information-section-content {
    max-width: 70%;
    color: #F6FAFB;
    margin-left: 70px;
}

.amenities-section-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.amenities-icon {
    margin: 0px 0px 0px 50px;
}

.amenities-text {
    margin: 0px 50px 0px 20px;
    font-size: 12px;
}

.golf-amenities-icon {
    font-size: 18px;
}